<header>
    <nav>
        <ul>
            <li>
                <img src="/oba_logo.png" alt="oba_logo">
            </li>
            <li class="mijnBoekenkastNav">
                mijn boekenkast
            </li>
        </ul>
    </nav>
</header>