<%- include('../Partials/head') %>
<body id="landingPage">
   
    <main>
        <header>
            <img src="/Images/logo_ObaJunior.png">
            <h1>Home Page Junior</h1>
            </header>

           
    </main>
</body>
</html>