<%- include('../Partials/head') %>
<body id="landingPage">
   
    <main>
        <header>
            <img src="/Images/logo_ObaJunior.png">
            <h1>Welkom Bij Oba Junior</h1>
            </header>
        <p>Hey Hallo <br>
            Wat leuk dat je hier bent. <br>
            Welkom bij de Oba Junior chatbot.</p>
           <p> Mijn naam is Sam en hoe heet jij?</p>
           <!-- <form action="/HomePage">
               <label for="">
                   <input type="text" placeholder="Jouw Naam">
                   </label>
                   <label for=""> 
                   <input type="image" name="submit" src="/Images/uiltje.png" alt="Submit">
                   </label>
                   <!-- <img src="/Images/uiltje.png">
               </label>
           </form> -->
           
    </main>
</body>
</html>